body{
	color: #bec5ca;
	/* Posicionamiento para la navbar */
	padding-top: 100px;
}

/* Colores */
.bg-primario{
	background-color: #4792de;
}

.bg-secundario{
	background-color: #32569e;
}

.bg-encabezado-form{
	background-color: #32569e;
}

.bg-contenido-form{
	background-color: #306ba7;
}