body{
	color: #bec5ca;
	/* Posicionamiento para el footer */
	min-height: 100vh;
  position: relative;
	padding-bottom: 70px;	
	/* Posicionamiento para la navbar */
	padding-top: 50px;
}

/* Colores */
.bg-primario{
	background-color: #4792de;
}

.bg-secundario{
	background-color: #56667d;
}

.bg-encabezado-form{
	background-color: #32569e;
}

.bg-contenido-form{
	background-color: #306ba7;
}

footer{
	background-color: #222;
}
