{% load i18n %} {% autoescape off %}

{% trans "Hola" %},

{% trans "Usted ha recibido este correo porque solicitó restaurar su contraseña en HomeSwitchHome."%}
{% trans "Por favor vaya a la siguiente pagina y elija una nueva contraseña:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock reset_link %}

{% trans "Tu nombre de usuario, en caso de que te hayas olvidado es:" %} {{ user.get_username }}

{% trans "Gracias por usar nuestro sitio!" %}
{% trans "El equipo de HomeSwitchHome" %}

{% endautoescape %}
