{% extends 'base.html' %}

{% block title %}Cambio de contraseña{% endblock title %}

{% block title_content %}
  <h1 class="text-warning">Cambio de contraseña</h1>
{% endblock title_content %}


{% block body_content %}


  <div class="container mt-5 justify-content-center" id="login">
    <div class="w-100">      
      <p class="text-left">Por favor, ingresá tu vieja contraseña por seguridad y después escribí la nueva dos veces asi podemos verificar que la escribiste correctamente</p>
      <hr>
      <form method="post"> {% csrf_token %}
      {% if form.errors %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger alert-dismissible fade show">
                <strong>{{ error|escape }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
      {% endif %}

      {% for field in form %}
       <div class="form-group text-center">
         <p class="m-0 bg-dark rounded-top" for="{{ field.id_for_label }}">{{ field.label }}:</p>
         <div> {{field}} </div>

         {% if field.help_text %}
           <small class="form-text">{{ field.help_text|safe }}</small>
         {% endif %}
       </div>

        {% for error in field.errors %}
          <div class="alert alert-danger alert-dismissible fade show">
            <strong>{{ error|escape }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}

      {% endfor %}
        <button class="btn btn-success" type="submit">Guardar</button>
        <a href="{% url 'verPerfil' user.pk %}">
          <button class="btn btn-danger" type="button" >Cancelar</button>
        </a>
      </form>
    </div>
  </div>

{% endblock body_content %}

{% block script %}
<script type="text/javascript">
  $(document).ready(function(){
    $("input").addClass("form-control");
    $('ul').addClass('text-left')
  });
</script>
{% endblock script %}
