{% extends 'base.html' %}

{% block title %}Cambio de contraseña{% endblock title %}

{% block body_content %}


  <div class="container mt-5 justify-content-center" id="login">
    <div class="w-100">
      <h1 class="text-warning font-weight-bold">Cambio de contraseña</h1>
      <hr>
      <p class="text-left">Por favor, ingresá tu vieja contraseña por seguridad y después escribí la nueva dos veces asi podemos verificar que la escribiste correctamente</p>
      <form method="post"> {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-success" type="submit" value="Change my password">
      </form>
    </div>
  </div>

{% endblock body_content %}

{% block script %}
<script type="text/javascript">
  $(document).ready(function(){
    $("input").addClass("form-control");
    $('ul').addClass('text-left')
  });
</script>
{% endblock script %}
