{% extends "base.html" %}

{% block title %}Home Page{% endblock title %}

{% block title_content %}
    <h1 id="premium-title" class="m-0 pt-2">Contactanos!</h1>
{% endblock title_content %}

{% block body_content %}
<h3 style="color:#b8c7e0; text-shadow: 2px 0px 4px #444;"><b>¿No encontraste tu respuesta? Acercate a nuestras oficinas o envianos un mail con tu consulta!</b></h3>
<div class="bg-secondary dropdown-divider" style="border-color: #96b1cc"></div>
    <h3 class="text-light" style="text-shadow: 0.5px 0px 4px #444;" >Nuestras oficinas</h3>
    <div class="bg-secondary dropdown-divider" style="border-color: #96b1cc"></div>
<div class="col-lg-12">
            <div class="tab-content" id="faq-tab-content">
                <div class="tab-pane show active" id="tab1" role="tabpanel" aria-labelledby="tab1">
                    <div class="accordion" id="accordion-tab-1">
                        <div class="card">
                            <div class="card-header" id="accordion-tab-1-heading-1">
                                <h5>   
                                    <button class="btn btn-outline-light" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-1" aria-expanded="false" aria-controls="accordion-tab-1-content-1" style="color:black"><h5 class="mb-1 text-primary">Argentina, Buenos Aires, Carlos Casares, Almirante Brown 438</h5></button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-1-content-1" aria-labelledby="accordion-tab-1-heading-1" data-parent="#accordion-tab-1">
                                <div class="card-body">
                                    <div class="container">
                                    <div class="row-fluid">
                                    <div class="span8">
                                        <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3243.365528457842!2d-61.3579965494041!3d-35.618714319314776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95c0823b3bf263a9%3A0x8ababc661de21f9b!2sAlmte+Brown+438%2C+Carlos+Casares%2C+Buenos+Aires!5e0!3m2!1ses!2sar!4v1562977211750!5m2!1ses!2sar"></iframe>
                                    </div>
        
                                    <!-- <div class="span4"> -->
                                    <p class="mb-1 text-secondary">Teléfono: 42561520 </p>
                                    <p class="mb-1 text-secondary">Horarios de atención: Lunes a viernes 08:00hs. a 20:00hs. </p>
                                    <!-- </div> -->
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="accordion-tab-1-heading-2">
                                <h5>
                                    <button class="btn btn-outline-light" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-2" aria-expanded="false" aria-controls="accordion-tab-1-content-2" style="color:black"><h5 class="mb-1 text-primary">Argentina, Buenos Aires, Quilmes, Emilio Zola 1988 </h5></button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-1-content-2" aria-labelledby="accordion-tab-1-heading-2" data-parent="#accordion-tab-1">
                                <div class="card-body">
                                    <div class="container">
                                    <div class="row-fluid">
                                    <div class="span8">
                                    <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3278.8245194826163!2d-58.231630549434634!3d-34.734817371856984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a32f00cf3e393d%3A0x54477f06602247c!2sEmilio+Zola+1988%2C+Quilmes%2C+Buenos+Aires!5e0!3m2!1ses!2sar!4v1562960958686!5m2!1ses!2sar"></iframe>
                                    </div>
        
                                    <p class="mb-1 text-secondary">Teléfono: 42246858 </p>
                                    <p class="mb-1 text-secondary">Horarios de atención: Lunes a viernes 08:00hs. a 20:00hs. </p>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="accordion-tab-1-heading-3">
                                <h5>
                                    <button class="btn btn-outline-light" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-3" aria-expanded="false" aria-controls="accordion-tab-1-content-3" style="color:black"><h5 class="mb-1 text-primary">Argentina, Buenos Aires, Don Bosco, Calle 165 Nº984 </h5> </button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-1-content-3" aria-labelledby="accordion-tab-1-heading-3" data-parent="#accordion-tab-1">
                                <div class="card-body">
                                    <div class="container">
                                    <div class="row-fluid">
                                    <div class="span8">
                                    <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3279.289471259513!2d-58.31507404943499!3d-34.723097171234826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a32d8f6da72f43%3A0xff726da1f83b677!2sDante+Hip%C3%B3lito+Lugo%2C+Bernal+Oeste%2C+Buenos+Aires!5e0!3m2!1ses!2sar!4v1562980644507!5m2!1ses!2sar"></iframe>
                                    </div>
        
                                    <p class="mb-1 text-secondary">Teléfono: 42582320 </p>
                                    <p class="mb-1 text-secondary">Horarios de atención: Lunes a viernes 08:30hs. a 20:30hs. </p>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="accordion-tab-1-heading-4">
                                <h5>
                                    <button class="btn btn-outline-light" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-4" aria-expanded="false" aria-controls="accordion-tab-1-content-4" style="color:black"> <h5 class="mb-1 text-primary">Argentina, Córdoba, Villa Carlos Paz, Tupungato 485 </h5></button>
                                </h5>
                            </div>
                            <div class="collapse" id="accordion-tab-1-content-4" aria-labelledby="accordion-tab-1-heading-3" data-parent="#accordion-tab-1">
                                <div class="card-body">
                                    <div class="container">
                                    <div class="row-fluid">
                                    <div class="span8">
                                    <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3404.4477099631767!2d-64.50133434954334!3d-31.42933930393165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x942d66491c94114f%3A0xd83191a8c0cb31d4!2sTupungato+485%2C+X5152+Villa+Carlos+Paz%2C+C%C3%B3rdoba!5e0!3m2!1ses!2sar!4v1562980535421!5m2!1ses!2sar"></iframe>
                                    </div>
        
                                    <p class="mb-1 text-secondary">Teléfono: 4861458 </p>
                                    <p class="mb-1 text-secondary">Horarios de atención: Lunes a viernes 09:00hs. a 21:30hs. </p>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bg-secondary dropdown-divider" style="border-color: #96b1cc"></div>
                            <h5 class="text-light">Mail de contacto: hshcontacto@gmail.com</h5>
                        <div class="bg-secondary dropdown-divider" style="border-color: #96b1cc"></div>
{% endblock body_content %}

