{% extends "base.html" %}
{% block title %}Mi Perfil{% endblock title %}
{% block title_content %}
  <h2>Mi Perfil </h2>
{% endblock title_content %}

{% block body_content %}

<div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-body">
                        <div class="card-title mb-4">
                            <div class="d-flex justify-content-start">
                                <div class="image-container">
                                    <img src={{user.foto}} id="imgProfile" style="width: 150px; height: 150px" class="img-thumbnail" />
                                    <div class="middle">
                                        <!-- input type="button" class="btn btn-secondary" id="btnChangePicture" value="Cambiar --><!--  Foto" /> -->
                                        <input type="file" style="display: none;" id="profilePicture" name="file" />
                                    </div>
                                </div>
                                <div class="userData ml-3 text-left">
                                    <h2 class="d-block text-primary" style="font-size: 1.5rem; font-weight: bold">{{user.first_name}} {{user.last_name}}</h2>
                                    <h5 class="d-block">{{user.edad}} Años</h5>
                                    {% if not user.es_premium %}
                                    <hr>
                                    <div>
                                      <a class="btn btn-warning" href="{% url 'premium_info' %}">Ser Premium</a>
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="ml-auto">
                                    <input type="button" class="btn btn-primary d-none" id="btnDiscard" value="Discard Changes" />
                                </div>
                                <div>
                                    <div class="col-sm-12">
                                        <div class="btn-group">       
                                            <span class="bg-info text-light rounded-left p-1 col-sm-12">Editar datos</span>
                                            <button type="button" class="btn btn-primary py-0 px-1 rounded-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-cog"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right p-0 m-0 text-center">
                                                <a class="dropdown-item px-1" href="{% url 'profile_edit' user.pk %}">Editar Perfil</a>
                                                <div class="dropdown-divider my-0"></div>
                                                <a class="dropdown-item px-1" href="{% url 'password_change' %}">Cambiar contraseña</a>
                                                <div class="dropdown-divider my-0"></div>
                                                <a class="dropdown-item px-1" href="#">Cambiar tarjeta</a>
                                            </div>
                                            <style type="text/css">
                                                div > .dropdown-menu {
                                                    background-color: #97b8de;
                                                }
                                                div > .dropdown-menu > a:hover {
                                                    background-color: #79b7c3a6;
                                                    color: white!important;
                                                }
                                                div > .dropdown-menu > a{
                                                    color: #264950;
                                                }
                                            </style>
                                        </div>
                                    </div>
                				</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo" role="tab" aria-controls="basicInfo" aria-selected="true">Información personal</a>
                                    </li>
                                     <li class="nav-item">
                                        <a class="nav-link" id="connectedServices-tab" data-toggle="tab" href="#connectedServices" role="tab" aria-controls="connectedServices" aria-selected="false">Información de pago</a>
                                    </li>  
                                </ul>
                                <div class="tab-content ml-1" id="myTabContent">
                                    <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                                        

                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;color:grey">Nombre completo</label>
                                            </div>
                                            <div class="col-md-8 col-6" style="color:grey">
                                                {{user.first_name}} {{user.last_name}}
                                            </div>
                                        </div>
                                        <hr />

                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;color:grey">Email</label>
                                            </div>
                                            <div class="col-md-8 col-6" style="color:grey">
                                                {{user.email}}
                                            </div>
                                        </div>
                                        <hr />
                                        
                                        
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;color:grey">Fecha de nacimiento</label>
                                            </div>
                                            <div class="col-md-8 col-6" style="color:grey">
                                                {{user.fecha_nacimiento}}
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;color:red">Créditos</label>
                                            </div>
                                            <div class="col-md-8 col-6 text-danger">
                                                {{user.creditos}}
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;color:grey">Se unió el</label>
                                            </div>
                                            <div class="col-md-8 col-6" style="color: grey">
                                                14 de Junio de 2019
                                            </div>
                                        </div>
                                        <hr />

                                    </div>
                                    <div class="tab-pane fade" id="connectedServices" role="tabpanel" aria-labelledby="ConnectedServices-tab">
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;color:grey">Numero de tarjeta</label>
                                            </div>
                                            <div class="col-md-8 col-6" style="color:grey">
                                                {{user.tarjeta.numero}} 
                                            </div>
                                        </div>
                                        <hr /><div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;color:grey">Fecha de vencimiento</label>
                                            </div>
                                            <div class="col-md-8 col-6" style="color:grey">
                                                {{user.tarjeta.fecha_vencimiento}} 
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;color:grey">Banco</label>
                                            </div>
                                            <div class="col-md-8 col-6" style="color:grey">
                                                {{user.tarjeta.banco.nombre}} <img src={{user.tarjeta.banco.foto}}  style="width: 50px; height:30px"/>
                                            </div>
                                        </div>
                                        <hr />

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body_content %}
