{% extends "base.html" %}

{% block title %}
	Semanas disponibles
{% endblock %}

{% block title_content %}
	<h2>Semanas disponibles para la residencia 
		<a href=" {% url 'detalle_residencia' residencia.pk %}" style="text-decoration: none;">{{residencia}}</a>
	<h2>
{% endblock title_content %}

{% block body_content %}
<div class="bg-primary rounded-top py-2">
	<h4 class="mb-0 text-light">¡Elija la semana para las mejores vacaciones de su vida!</h4>
</div>
<div class="list-group">
	{% for semana in listado_semanas %}
	<a href="{{semana.estado.get_absolute_url}}" class="list-group-item bg-light list-group-item-action text-left">
		<div class="d-inline-flex col-sm-12 p-0">
			<!-- Ocupación -->
			<div class="col-sm-8 pl-0">
				<span class="text-primary">Fecha de ocupación:</span> 
				<span class="text-secondary">{{semana.fecha_inicio}} al {{semana.fecha_fin}}</span>
			</div>

			<!-- Seguimiento -->
			{% if not user.is_staff and user.is_authenticated %}
			<div class="col-sm-4 text-right pr-0">
				<form>
					{% load my_templatetag %}
					{% es_seguida semana user as semana_es_seguida_por_usuario %}
					{% if semana_es_seguida_por_usuario %}
						<input type="submit" name="{{semana.pk}}" class="btn btn-secondary py-0" value="Dejar de seguir">
					{% else %}
						<input type="submit" name="{{semana.pk}}" class="btn btn-dark py-0" value="Seguir">
					{% endif %}
				</form>
			</div>
			{% endif %}
		</div>
		<div class="mt-1">
			<label>{{semana.estado}}</label>
		</div>
		<div>
			<small>{{semana.detalle_estado}}</small>
		</div>
	</a>
	{% endfor %}
</div>
{% endblock body_content %}

{% block script %}
<script type="text/javascript">
  $(document).ready(function(){
  	
  	const colorDelEstado = {
  		"No disponible": "danger",
  		"Compra directa": "info",
  		"Hotsale": "warning",
  		"Reservada": "primary",
  		"En espera": "secondary",
  		"Subasta": "success"
  	}

    $("label").each(function(){
  		let claseBS = "btn mt-1 py-0 px-1 btn-" + colorDelEstado[$(this).text()];
    	$(this).addClass(claseBS)
    });

    $("label:contains('Subasta')").parent().parent().addClass(
    	"list-group-item bg-dark text-warning list-group-item-action text-left rounded-0 border-0 active"
    )

  });
</script>        
{% endblock script %}