{% extends "mostrar_estado_base.html" %}
{% block title %} En espera {% endblock title %}
{% block title_content %}
	<h2> En espera </h2>
{% endblock title_content %}
{% block estado_content %}
	<h4 class="text-warning"> ¡Poné la semana en Hotsale! </h4>
	<hr>
	<div class="mt-1 p-2 bg-dark rounded">
		<h5 class="text-info"> Residencia: </h5>
		<a href="{{enespera.semana.residencia.get_absolute_url}}">
			<h5> {{enespera.semana.residencia}} </h5>
		</a>
	</div>
	<div class="mt-1 p-2 bg-dark rounded">
		<h5 class="text-info"> Período de ocupación: </h5>
		<h5> {{enespera.semana.fecha_inicio}} - {{enespera.semana.fecha_fin}} </h5>
	</div>
	<hr>
	<div class="mt-1 p-2 bg-dark rounded">
		<h5 class="text-info"> Precio base: </h5>
		<h5 class="text-success"> $ <span id="precioBase">{{enespera.semana.residencia.precio_base|floatformat:"2"}}</span> </h5>
	</div>
	<form method="post">
    {% csrf_token %}	
		<div class="mt-1 p-2 bg-dark rounded">
			<h5 class="text-info"> Aplicar descuento: </h5>
			<div class="input-group d-flex justify-content-center">
	            <div class="input-group-prepend">
	              <input required name="monto" type="number" step="0.1" min="0.1" max="100" class="rounded-left p-1" value="0.1" style="border: none;">
	              <span class="input-group-text rounded-right">%</span>
	            </div>
	      	</div>
	      	<small class="text-warning">
	      		El precio del HotSale será de <span id="nuevoPrecio"></span> 
	      	</small>
	      	<div>
		      	<small class="text-danger" id="advertencia">	      		
		      	</small>
	      	</div>
			<hr>
			<input type="submit" class="btn btn-danger" name="hotsalear" value="Establecer Hotsale">
		</div>
	</form>
{% endblock estado_content %}
{% block script %}
<script type="text/javascript">
	$(document).ready(function(){
		const PRECIO_BASE = parseFloat($("#precioBase").text())

		function nuevoPrecio(total, descuento){
			return total - total * descuento / 100;
		}	

		function mostrarAdvertencia(precio){
			let mensaje = ""
			let descuento = $("input[name='monto']").val()
			if (descuento <= 0 || descuento > 100){
				mensaje = "¡Error! El descuento debe estar entre 0% y 100%"
			}
			$("#advertencia").text(mensaje)
		}

		$("input[name='monto']").bind('keyup mouseup', function(){
			const DESCUENTO = this.value;
			let precioHotsale = nuevoPrecio(PRECIO_BASE, DESCUENTO)
		    $("#nuevoPrecio").text("$"+precioHotsale.toFixed(2));
		    mostrarAdvertencia(precioHotsale)
		});

		$("input[name='monto']").trigger("keyup");

		$('input[name=hotsalear]').click(function(){
			return confirm('Seguro desea realizar esta acción?');
		});
	});
</script>
{% endblock %}