{% extends "base.html" %}

{% block title %}Subasta -{% endblock title %}

{% block content %}
<style type="text/css">
	h2, h4{
		font-family: 'Open Sans', sans-serif;
		user-select: none;
		color: #84a2c1;
	}
	h4{
		color: #b7d7ef;
	}
	.list-group-item{
		border: 1.2px solid #343940;
	}
</style>

<section id="cover">
	<div id="cover-caption">
		<div id="container" class="container mt-2">
			<div class="row">
				<div class="col-sm-8 offset-sm-2 p-4 text-center">
					<div class="m-0 bg-dark rounded-top shadow">

						<!-- Título -->
						<div class="m-0 p-2 bg-dark rounded-top shadow text-center">
							<h2>Información de la subasta</h2>
						</div>

						<!-- Contenido -->
						<div class="bg-contenido-form m-0 p-2 rounded shadow">
							<div class="rounded text-center bg-dark p-2">
							
								<!-- Título -->
								<div class="mr-1">
									<div class="rounded-top bg-primary">
											<h4 class="m-0"><strong>Residencia</strong> {{ subasta.residencia.nombre }}</h4>
									</div>
									<div class="p-1 rounded-bottom bg-light">
										<img class="rounded-top w-100" src="{{ subasta.residencia.foto }}">										
									</div>
								</div>

								<!-- Detalle -->
								<div class="col-md-12 m-0 p-0 mt-2 d-flex justify-content-center">

									<!-- Izquierda (Usuario) -->

									<div class="col-lg-4 col-md-6 col-sm-12" style="background-color: #1b2d3e;">
										<div class="d-inline-flex justify-content-center mt-2">
											<div class="mt-1">
												<p class="m-0"><strong>Ganador actual:</strong></p> 
												<h4>
												{% if subasta.hay_ganador %}
													{{ subasta.ganador_actual }}
												{% else %}
													Sin ganador
												{% endif %}
												</h4>
											</div>
											<div class="ml-2 mt-1">
												{% if subasta.hay_ganador %}
													<img src="https://scontent.faep9-2.fna.fbcdn.net/v/t1.0-9/33814026_10216478836464271_2788733419322867712_n.jpg?_nc_cat=105&_nc_ht=scontent.faep9-2.fna&oh=7f720a9637cefd3d4de8999cc11098fe&oe=5D6DEDF1" style="max-height: 60px;">		
												{% else %}
													<img src="https://afribary.com/authors/anonymous-user/photo" style="max-height: 60px;">		
												{% endif %}
											</div>
										</div>
									</div>

									<!-- Derecha (Detalle) -->


									<ul class="col-lg-8 col-md-6 col-sm-12 m-0 p-0 list-group" style="background-color: #314456;">
										<li class="list-group-item p-2 m-0 text-center" style="background-color: #314456;">
											<strong>Precio inicial:</strong> ${{ subasta.residencia.precio_base }}
										</li>
										<li class="list-group-item p-2 m-0 bg-primary text-center">
												<strong>Precio actual:</strong> ${{ subasta.precio_actual }}												
												<input type="button" class="position-absolute r-4 w-25 btn btn-light p-0" value="Pujar!" style="right: 8px;"></input>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock content %}

