{% extends "mostrar_estado_base.html" %}
{% block title %} Compra directa {% endblock title %}
{% block title_content %}
	<h2>¡Adquiera la residencia ya!</h2>
{% endblock title_content %}
{% block estado_content %}
	<ul class="list-group">
		<li class="list-group-item text-dark">
			<div class="col-sm-12">
			Residencia: 
			<a href="{{compradirecta.semana.residencia.get_absolute_url}}" class="text-info">
				{{compradirecta.semana.residencia}}
			</a>
			</div>
			<div class="col-sm-12">
				<small class="text-muted">(Ingrese para ver más detalles)</small>
			</div>
		</li>
		<li class="list-group-item text-dark">Fecha de ingreso: <span class="text-danger">{{compradirecta.semana.fecha_inicio}}</span></li>
		<li class="list-group-item text-dark">Fecha de desalojo: <span class="text-danger">{{compradirecta.semana.fecha_fin}}</span></li>
		<li class="list-group-item text-dark">Precio: <span class="text-success">¡Gratis!</span></li>
		{% if user.usuarioestandar.es_premium %}		
			<li class="list-group-item text-dark bg-dark">
	 			<form method="post">
				{% csrf_token %}
	 				<input class="btn btn-success" type="submit" name="reservar" value="Reservar!">
	 			</form>
			</li>
		{% elif not user.is_authenticated %}
			<li class="list-group-item text-dark bg-dark">
				<small class="text-light">Registrate para reservar esta semana</small>
			</li>
		{% endif %}
	</ul>
	
	<hr>
	<div>
		<small class="text-warning">
			Deberá ser un usuario premium para poder reservar esta semana. <br>
			Se le descontará un crédito.
		</small>
		<hr>
		<small>
			En caso de ser usuario estándar deberá esperar a la subasta que será abierta el día {{compradirecta.semana.fecha_abrir_subasta}} 00:00hs. y concluirá el día {{compradirecta.semana.fecha_cerrar_subasta}} 00:00hs.
		</small>
	</div>
{% endblock estado_content %}
{% block script %}
<script type="text/javascript">
    $('input[name=reservar]').click(function(){
      return confirm('Seguro desea realizar esta acción?');
});
   </script>
{% endblock script %}
{% block style %}
<style type="text/css">
	.list-group > li:hover{
		background-color: #e6edf7;	
	}
</style>
{% endblock %}