{% extends "mostrar_estado_base.html" %}
{% block title %} En espera {% endblock title %}
{% block title_content %}
	<h2> En espera </h2>
{% endblock title_content %}
{% block estado_content %}
	<h4 class="text-warning"> ¡Poné la semana en Hotsale! </h4>
	<hr>
	<div class="mt-1 p-2 bg-dark rounded">
		<h5 class="text-info"> Residencia: </h5>
		<a href="{{enespera.semana.residencia.get_absolute_url}}">
			<h5> {{enespera.semana.residencia}} </h5>
		</a>
	</div>
	<div class="mt-1 p-2 bg-dark rounded">
		<h5 class="text-info"> Período de ocupación: </h5>
		<h5> {{enespera.semana.fecha_inicio}} - {{enespera.semana.fecha_fin}} </h5>
	</div>
	<hr>
	<div class="mt-1 p-2 bg-dark rounded">
		<h5 class="text-info"> Nuevo precio: </h5>
		<div class="input-group d-flex justify-content-center">
            <div class="input-group-prepend w-75">
              <span class="input-group-text">$</span>
              <input class="form-control" style="border-radius: 0px !important;">
            </div>
      	</div>
      	<small class="text-warning">
      		El precio debe ser menor a ${{enespera.semana.residencia.precio_base}}
      	</small>
		<hr>
		<input type="submit" name="hotsale" class="btn btn-danger" value="Establecer Hotsale">
	</div>
{% endblock estado_content %}