{% extends "mostrar_estado_base.html" %}
{% block title %} Residencia reservada {% endblock title %}
{% block title_content %}
	<h2>Reserva de {{reservada.semana.residencia.nombre}}</h2>
{% endblock title_content %}
{% block estado_content %}
	<ul class="list-group">
 		<li class="list-group-item text-secondary">Residencia: 
 			<a href="{{reservada.semana.residencia.get_absolute_url}}">
 				<span class="text-danger">{{reservada.semana.residencia.nombre}}</span>
 			</a>
 		</li>
 		<li class="list-group-item text-secondary">
 			<div>
 				<img style="max-height: 200px;" src="{{reservada.semana.residencia.foto}}">
 			</div>
		</li>
 		<li class="list-group-item text-secondary">Reservada por: 
 			<span class="text-danger">{{reservada.semana.comprador.nombre_completo}}</span>
 		</li>
 		<li class="list-group-item text-secondary">Monto pagado: 
 			{% if reservada.precio_actual == reservada.semana.precio_base %}
 				<span class="text-info">Adquirida por membresía premium</span>
 			{% else %}
 				<span class="text-success">${{reservada.precio_actual}}</span>
 			{% endif %}
 		</li>
 		<li class="list-group-item text-secondary">Fecha de alojamiento: 
 			<span class="text-primary">{{reservada.semana.fecha_inicio}}</span>
 		</li>
 		<li class="list-group-item text-secondary">Fecha de desalojamiento: 
 			<span class="text-primary">{{reservada.semana.fecha_fin}}</span>
 		</li>
 	</ul>

 	<hr>

 	{% if user == reservada.semana.comprador and not reservada.semana.esta_concluida %}
 	<div>
 		<div>
 			<form method="post">
			{% csrf_token %}
 				<input type="submit" name="cancelar" class="btn btn-danger" value="Cancelar reserva">
 			</form>
 		</div>
 		<div>
 			<small class="text-warning">¿Está seguro? Se le devolverá su crédito pero no el dinero</small>
 		</div>
 	</div>
 	{% endif %}
{% endblock estado_content %}
{% block script %}
<script type="text/javascript">
    $('input[name=cancelar]').click(function(){
      return confirm('Seguro desea realizar esta acción?');
});
   </script>
{% endblock script %}