{% extends "mostrar_estado_base.html" %}
{% block title %} Compra directa {% endblock title %}
{% block title_content %}
	<h2>¡Adquiera la residencia ya!</h2>
{% endblock title_content %}
{% block estado_content %}
	<ul class="list-group">
		<li class="list-group-item text-dark">
			<div class="col-sm-12">
			Residencia: 
			<a href="{{compradirecta.semana.residencia.get_absolute_url}}" class="text-info">
				{{compradirecta.semana.residencia}}
			</a>
			</div>
			<div class="col-sm-12">
				<small class="text-muted">(Ingrese para ver más detalles)</small>
			</div>
		</li>
		<li class="list-group-item text-dark">Fecha de ingreso: <span class="text-danger">{{compradirecta.semana.fecha_inicio}}</span></li>
		<li class="list-group-item text-dark">Fecha de desalojo: <span class="text-danger">{{compradirecta.semana.fecha_fin}}</span></li>
		<li class="list-group-item text-dark">Precio: <span class="text-success">${{compradirecta.semana.residencia.precio_base}}</span></li>
	</ul>
	<hr>
	<button class="btn btn-warning">Reservar!</button>
	<hr>
	<div class="text-left">
		<small class="text-warning">
			Deberá ser un usuario premium para poder reservar esta semana. <br>
			En caso de ser usuario estándar deberá esperar a la subasta que será abierta el día {{compradirecta.semana.fecha_abrir_subasta}} 00:00hs. y concluirá el día {{compradirecta.semana.fecha_cerrar_subasta}} 00:00hs.
		</small>
	</div>
{% endblock estado_content %}
{% block style %}
<style type="text/css">
	li:hover{
		background-color: #e6edf7;	
	}
</style>
{% endblock %}