{% extends "mostrar_estado_base.html" %}


{% block estado_content %}
	<!-- Título -->
	<div class="m-0 p-2 bg-dark rounded-top shadow text-center">
    <h2>Información de la subasta</h2>
  </div>

  <div class="mr-1">
	  <div class="rounded-top bg-primary">
      <h4 class="m-0">
        <strong>Residencia:</strong>
        <a id="residencia-link" href="{% url 'detalle_residencia' subasta.residencia.pk %}">{{ subasta.residencia.nombre }}</a>
      </h4>
    </div>
    <div class="p-1 rounded-bottom bg-light">
      <img class="rounded-top w-100" src="{{ subasta.residencia.foto }}">                   
    </div>
	</div>

  <!-- Detalle -->
  <div class="col-md-12 m-0 p-0 mt-2 d-flex justify-content-center">

    <!-- Izquierda (Usuario) -->
    <div class="col-lg-4 rounded" style="background-color: #1b2d3e;">
      <div class="d-inline-flex justify-content-center mt-2">
        <div class="mt-1">
          <p class="m-0"><strong>Ganador actual:</strong></p> 
          <h4>
          {% if subasta.hay_ganador %}
            {{ subasta.ganador_actual }}
          {% else %}
            Sin ganador
          {% endif %}
          </h4>
        </div>
        <div class="ml-2 mt-1">
          {% if subasta.hay_ganador %}
            <img src="https://scontent.faep9-2.fna.fbcdn.net/v/t1.0-9/33814026_10216478836464271_2788733419322867712_n.jpg?_nc_cat=105&_nc_ht=scontent.faep9-2.fna&oh=7f720a9637cefd3d4de8999cc11098fe&oe=5D6DEDF1" style="max-height: 60px;">    
          {% else %}
            <img src="https://afribary.com/authors/anonymous-user/photo" style="max-height: 60px;">   
          {% endif %}
        </div>
      </div>
    </div>

    <!-- Derecha (Detalle) -->
    <ul class="col-lg-8 m-0 p-0 list-group">


      <div class="col-md-12 list-group-item bg-transparent p-0" style="flex-basis: 0%;">
        <li class="list-group-item p-2 m-0 text-left" style="background-color: #314456;">
          <strong>Precio inicial:</strong> ${{ subasta.residencia.precio_base }}                        
        </li>
      </div> 
      <div class="d-inline-flex col-md-12 p-0" style="flex-basis: 0%;">
        <li class="bg-primary col-md-6 list-group-item p-2 m-0 text-center" style="background-color: #314456; text-align: left!important;">
          <strong>Precio actual:</strong> ${{ subasta.precio_actual }}                        
        </li>
        <div class="col-md-6 p-2 m-0 text-center" style="background-color: #31445685">

            <!-- Pujar -->
            <form method="post">
            {% csrf_token %}
              <div class="d-inline-flex input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">$</span>
                </div>
                  <input type="number" class="form-control rounded-right" min="{{ subasta.precio_minimo| stringformat:'E' }}" required name="monto" placeholder="{{subasta.precio_actual}}" step="0.1">
                  <input type="submit" class="btn btn-success ml-2 py-1" name="pujar" value="Pujar!" style="color: #d0ffcc">
              </div>
            </form>

        </div>
      </div>

    </ul>
  </div>

{% endblock estado_content %}