{% extends "base.html" %}

{% block title %}{{ subasta.residencia.nombre }} - {% endblock title %}

{% block style %}
<style type="text/css">
  h2, h6, a#residencia-link{
    font-family: 'Open Sans', sans-serif;
    user-select: none;
    color: #84a2c1;
  }

  h6, a#residencia-link{
    color: #b7d7ef;
  }

  a#residencia-link{
    text-decoration: none;
  }

  .list-group-item{
    border: 1.2px solid #343940;
  }
</style>
{% endblock style %}

{% block title_content %}
  
{% endblock title_content %}

{% block body_content %}


        {% block estado_content %}{% endblock estado_content %}

        <!-- Mensajes -->
        <div class="mt-2 p-0">
        {% for message in messages %}
          {% if message.tags == "error" %}
            <div class="alert alert-danger alert-dismissible fade show m-0">
          {% else %}
            <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %} alert-dismissible fade show m-0">
          {% endif %}
              <strong>{{ message }}</strong>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
        {% endfor %}                
        </div>
      
{% endblock body_content %}