{% extends "base.html" %}

{% block title %}{{ subasta.residencia.nombre }} Subasta{% endblock title %}

{% block style %}
<style type="text/css">
  h2, h4, a#residencia-link{
    font-family: 'Open Sans', sans-serif;
    user-select: none;
    color: #84a2c1;
  }

  h4, a#residencia-link{
    color: #b7d7ef;
  }

  a#residencia-link{
    text-decoration: none;
  }

  .list-group-item{
    border: 1.2px solid #343940;
  }
</style>
{% endblock style %}

{% block content %}
<section id="cover">
  <div id="cover-caption">
    <div id="container" class="container mt-2">
      <div class="row">
        <div class="col-sm-10 offset-sm-1 p-4 text-center">
          <div class="m-0 bg-dark rounded-top shadow">
            <div class="bg-contenido-form m-0 p-2 rounded shadow">
              <div class="rounded text-center bg-dark p-2">
                {% block estado_content %}{% endblock estado_content %}

                <!-- Mensajes -->
                <div class="mt-2 p-0">
                {% for message in messages %}
                  {% if message.tags == "error" %}
                    <div class="alert alert-danger alert-dismissible fade show m-0">
                  {% else %}
                    <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %} alert-dismissible fade show m-0">
                  {% endif %}
                      <strong>{{ message }}</strong>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                {% endfor %}                
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}