{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<!-- Metas -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Icono -->
		<link rel="icon" href="{% static 'logo/HSH-Icon.ico' %}">

		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

		<!-- Símbolos -->
		<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

		<!--Estilos -->
		<link rel="stylesheet" type="text/css" href="{% static 'base/base.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'base/nav.css' %}">

		<!-- Fuentes -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
		{% block head %} {% endblock %}

	<title>{% block title %}{% endblock title %} - HomeSwitchHome</title>

  	{% block style %}{% endblock style %}

		<style type="text/css">
	  	h1, h2, h3, h4, h5, h6, p{
	    	font-family: 'Open Sans', sans-serif;
	    	user-select: none;
	    	color: white
	  	}
	  	h1, h2, h3, h4, h5, h6 {
	    	color: #84a2c1;
	  	}
	  	p{
	    	color: #c3cbd8;
	  	}
		</style>

	</head>
	<body class="bg-secundario">

		<!-- Navbar -->
		<nav class="mb-1 navbar navbar-expand-lg navbar-dark fixed-top bg-dark py-0 px-0" role="navigation">

			<!-- Responsive button -->
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          	<span class="navbar-toggler-icon"></span>
        	</button>

			<!-- Izquierda -->
			<div class="collapse navbar-collapse w-100 order-1 order-lg-0" id="navbarResponsive">
				<ul class="navbar-nav ml-auto nav-pills">
					<li class="dropdown my-1">
						<a class="nav-link active dropdown-toggle" data-toggle="dropdown" href="#">
							Residencias
						</a>
						<div class="dropdown-menu dropdown-menu-right dropdown-secondary">
							{% if user.is_staff %}
							<a class="dropdown-item" href="{% url 'agregarResidencia' %}">Agregar</a>
							<div class="dropdown-divider"></div>
							{% endif %}
							<a class="dropdown-item" href="{% url 'listadoResidencias' %}">Listado</a>							
						</div>
					</li>
				</ul>		
			</div>

			<!--- Centro logo --> 
			<div class="d-flex m-0 justify-content-center order-0" style="z-index:1">
				<ul class="navbar-nav mx-2">
					<li class="nav-item">
                      <a id="logo" class="navbar-brand mr-0" href="{% url 'home' %}">
							<img id="logo" src="{% static 'logo/HSH-Complete.svg' %}" style="max-width: 150px">
						</a>
					</li>
				</ul>
			</div>
			

			<!-- Derecha -->	
			<div class="collapse navbar-collapse w-100 order-1 order-lg-0" id="navbarResponsive">
				<!-- Items -->
				<ul class="navbar-nav mr-auto nav-pills">
					<li class="dropdown my-1">
						<a class="nav-link active dropdown-toggle" data-toggle="dropdown" href="#">
							Usuarios
						</a>
						<div class="dropdown-menu dropdown-secondary">
							<a class="dropdown-item" href="#">Item 1</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Item 2</a>
						</div>
					</li>
				</ul>

				<div class="dropdown-divider" style="border-top-color: #5b6c8a;"></div>

				<!-- Usuario -->
				<ul class="navbar-nav m-0 nav-flex-icons r-0">

					<!-- Notificaciones -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
							<span id="notificador">1</span>
							<i class='fas fa-bell'></i>
						</a>
						<div class="dropdown-menu dropdown-menu-right dropdown-secondary">
							<a class="dropdown-item" href="#">Notificación 1</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Notificación 2</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Notificación 3</a>
						</div>
					</li>

					<!-- Perfil Usuario -->
                    <li class="nav-item avatar dropdown mr-2">
                      {% if user.is_authenticated %}
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                          
                          <img src="{{ user.foto }}"
                               class="rounded-circle z-depth-0" height="20px" width="20px">
                          <span>{{ user.email }}</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-secondary">
                          {% if not user.is_staff %}
                          	<a class="dropdown-item" href="{% url 'verPerfil' user.pk %}">Mi perfil</a>
                          	<div class="dropdown-divider"></div>
                          	<a class="dropdown-item text-info" href="{% url 'mis_reservas' %}">Mis reservas</a>
                          	<a class="dropdown-item text-info" href="{% url 'mis_subastas' %}">Mis subastas</a>
                          	<div class="dropdown-divider"></div>
                          {% endif %}
                          <a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a>
                        </div>
                      {% else %}
                        <a href="{% url 'login' %}" class="btn btn-primary">Iniciar sesión</a>
                        <a href="{% url 'signup' %}" class="btn btn-secondary">Registrarse</a>
                      {% endif %}
                    </li>

				</ul>
			</div>				
		</nav>


		<!-- Content -->
		<section id="cover">
		  <div id="cover-caption">
		    <div id="container" class="container mt-5">
		      <div class="row">
		        <div class="col-sm-10 offset-sm-1 p-4 text-center">
		        	<div class="m-0 py-2 bg-dark rounded-top shadow">
            			{% block title_content %}
            			{% endblock title_content %}
          			</div>
          			<div class="info-form bg-contenido-form m-0 p-4 rounded shadow">
		        		{% block body_content %}
						{% endblock body_content %}
					</div>
					{% block footer_content %}
					{% endblock footer_content %}
				</div>
		      </div>
		    </div>
		  </div>
		</section>
		

		<!-- Footer -->
		<footer class="page-footer fixed-bottom">
			<div class="footer-copyright text-center py-3">© 2019 Copyright:
				<a href="https://github.com/Pastorsin/ingenieria-de-software-ii"> MMM Development</a>
			</div>
		</footer>

		<!-- Bootstrap -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	    <script type="text/javascript">
	    	$(document).ready(function(){
			    $("input, textarea, select").focus(function(){
			      $("p").css("color", "#c3cbd8");
			      $(this).parent().siblings("p").css("color", "#00e3ff");
			    })
		  	});
	    </script>
		{% block script %}{% endblock script %}
	</body>
</html>
