{% extends "base.html" %}
{% load static %}

{% block title %}
 Registro 
{% endblock title %}

{% block title_content %}
  <h3>Registro</h3>
{% endblock title_content %}

{% block body_content %}


  <form id="form" method="post"> {% csrf_token %}

    {% if form.errors %}
      {% for error in form.non_field_errors %}
          <div class="alert alert-danger alert-dismissible fade show">
              <strong>{{ error|escape }}</strong>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
      {% endfor %}
    {% endif %}

    <!-- Usuario -->
    {% for field in form %}
     <div class="form-group">
       <p class="m-0 bg-dark rounded-top" for="{{ field.id_for_label }}">{{ field.label }}:</p>
       <div> {{field}} </div>

       {% if field.help_text %}
       <div class="bg-dark rounded-bottom m-0">
         <small class="text-muted">{{ field.help_text|safe }}</small>
       </div>
       {% endif %}
     </div>

      {% for error in field.errors %}
        <div class="alert alert-danger alert-dismissible fade show">
          <strong>{{ error|escape }}</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}

    {% endfor %}

    <!-- Tarjeta -->
    <div class="bg-dark rounded-top">
      <h3 class="py-1">Tarjeta de Credito</h3>
      <!-- -->
      <div class="py-2 bg-info card-wrapper"></div>
      <!-- -->
      <div class="bg-info py-2 px-2 mb-2">
        {% for field in tarjeta %}
          <div class="form-group">
            <p class="m-0 bg-dark rounded-top">{{field.label}}</p>
            <div>
              {{field}}
            </div>
          </div>

          {% for error in field.errors %}
            <div class="alert alert-danger alert-dismissible fade show">
              <strong>{{ error|escape }}</strong>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endfor %}

        {% endfor %}                
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Registrarse!</button>
  </form>

  
{% endblock body_content %}

{% block script %}
<script src="{% static '/card/dist/jquery.card.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $("input, select").addClass("form-control");
    $("#id_foto").val("");
  });

  new Card({
    form: document.querySelector('#form'),
    container: '.card-wrapper',
    formSelectors: {
        numberInput: 'input[name="numero"]',
        expiryInput: 'input[name="fecha_vencimiento"]',
        cvcInput: 'input[name="cvc"]',
        nameInput: 'input[name="nombre_completo"]'
    },
  });
</script>        
{% endblock script %}
