{% extends "base.html" %}
{% block title %}Agregar residencia{% endblock title %}
{% block content %}
<style type="text/css">
	h6, p{
		font-family: 'Open Sans', sans-serif;
		user-select: none;
		color: #c3cbd8
	}
	h6:hover{
		color: #306ba7;
		transition: color 0.5s;
	}
	
</style>
<section id="cover">
	<div id="cover-caption">
		<div id="container" class="container mt-2">
			<div class="row">
				<div class="col-sm-8 offset-sm-2 p-4 text-center">
					<div class="m-0 pb-2 bg-dark rounded-top">
						<h6 class="display-4">Agregar residencia</h6>
					</div>
					<div class="info-form bg-contenido-form m-0 p-4 rounded">
						<form action="{% url 'agregarResidencia' %}" method="post" class="form-inlin justify-content-center">
							{% csrf_token %}

							<!-- Mensajes -->
						    {% for message in messages %}
						    	<div class="alert alert-success"> 
						    		<strong>{{ message }}</strong>
						    	</div>
						    {% endfor %}

							<!-- Erores de campos -->
							{% if form.errors %}
							    {% for field in form %}
							        {% for error in field.errors %}
							            <div class="alert alert-danger">
							                <strong>{{ error|escape }}</strong>
							            </div>
							        {% endfor %}
							    {% endfor %}
							    {% for error in form.non_field_errors %}
							        <div class="alert alert-danger">
							            <strong>{{ error|escape }}</strong>
							        </div>
							    {% endfor %}
							{% endif %}

							<!-- Residencias --> 	
							{% for field in residencia %}
								<div class="form-group">
									<p class="m-0 bg-dark rounded-top">{{field.label}}</p>
									{% if field.name == "precio_base" %}
  										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text">$</span>
											</div>
											{{field}}
										</div>
  									{% else %}
										{{field}}
									{% endif %}
									<div class="bg-info rounded-bottom">
										<p class="text-black-50">{{field.help_text}}</p>
									</div>
														
								</div>									
							{% endfor %}

							<!-- Ubicación -->
							<p class="h3 m-0 bg-dark rounded-top">Ubicación</p>
							<div class="bg-dark py-2 px-2 mb-2">
								{% for field in ubicacion %}
									    <div class="form-group">
											<p class="m-0 bg-primary rounded-top">{{field.label}}</p>
											{{field}}
										</div>
								{% endfor %}								
							</div>
							<!-- Botones -->
							<div>
								<input type="submit" class="btn btn-success" value="Agregar"></input>
								<button type="cancel" class="btn btn-danger ">Cancelar</button>
							</div>								
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock content %}