{% extends "base.html" %}

{% block title %} {{ residencia.nombre }} {% endblock title %}

{% block style %}
<style type="text/css">

  li {
    color: #6db4d2;
  }

  h6 {
    font-family: 'Open Sans', sans-serif;
    user-select: none;
    color: white;
  }

  h2 {
    font-family: 'Open Sans', sans-serif;
    color: #bec5ca;
  }

  h3 {
    font-family: 'Open Sans', sans-serif;
  }

  ul {
    list-style: none;
  }

  img {
    max-height: 450px;
    max-width: 1000px;
  }

  form {
    display: inline;
  }

  .alert {
    margin-right: 2em;
  }

  .row {
    margin: 0;
  }
  .modal {
    color: #000000;
  }
  #img-section {
    background-color: #1b4065;
  }

  #precio {
    font-size: 1.5em;
  }
</style>
{% endblock style %}

{% block title_content %}
  <h2>{{ residencia.nombre }} </h2>
{% endblock title_content %}
{% block body_content %}

  <div class="p-0 bg-light rounded text-dark shadow">
    <div class="row justify-content-center rounded-bottom border-bottom border-dark" id="img-section">
      <img class="img-fluid" src="{{ residencia.foto }}">
    </div>
    <div class="row my-2">
      <div class="col text-left">
        <h3>Descripción:</h3>
        <p class="mx-5 text-break" style="color:#444;"> {{ residencia.descripcion }} </p>
        <small class="text-muted">Fecha de publicación:</small>
        <small class="text-break text-muted"> {{ residencia.fecha_publicacion }} </small>
      </div>
      <div class="col-3 border-left text-left">
        <h3>Precio Base:</h3>
        <span id="precio" class="text-success ml-3">
          $ {{ residencia.precio_base }}
        </span>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-12">
        <h3 class="text-center bg-dark m-0" style="color: white;">Ubicación</h3>
      </div>
      <div class="col-sm-12 m-0">
        <ul class="text-center bg-secundario w-100 d-inline-flex justify-content-between">
          <li class="mx-1">
            <h6>Pais:</h6>
            {{ residencia.ubicacion.pais }}
          </li>
          <li class="mx-1">
            <h6>Provincia:</h6> 
            {{ residencia.ubicacion.provincia }} 
          </li>
          <li class="mx-1">
            <h6>Ciudad:</h6> 
            {{ residencia.ubicacion.ciudad }} 
          </li>
          <li class="mx-1">
            <h6>Calle y número:</h6> 
            {{ residencia.ubicacion.calle }} - {{ residencia.ubicacion.numero }} </li>
        </ul>
      </div>
    </div>
    <hr>

    <!-- Footer -->
    <div class="row pb-3">
      {% if residencia.eliminada %}
      <div class="col-sm-12">
        <small class="text-danger"><i>La residencia no se encuentra disponible</i></small>
      <div class="col-sm-12">        
      {% else %}
      <div class="col-sm-12">
        {% if not user.is_staff %}
          <h3 class="text-danger">¡Reservala ya!</h3>
        {% endif %}
        <div>
          <a href="{% url 'listado_semanas' residencia.pk %}">Ver semanas de reservación</a>
        </div>
        <hr>
        {% if user.is_staff and not residencia.esta_en_subasta %}
          {% include "botones_admin_detalle_residencia.html" %}          
        {% endif %}     
      </div>      
      {% endif %}
      <!-- Mensajes -->
      <div class="col-sm-12">
        {% for message in messages %}
          {% if message.tags == "error" %}
            <div class="alert alert-danger alert-dismissible fade show px-0 m-0">
          {% else %}
            <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %} alert-dismissible fade show px-0 m-0">
          {% endif %}
              <strong>{{ message }}</strong>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock body_content %}


{% block script %}
  <script charset="utf-8">
    $('input[type=submit]').click(function(){
      return confirm('Seguro desea realizar esta acción?');
    });
  </script>
{% endblock script %}
