{% extends "base.html" %}

{% block title %} {{ residencia.nombre }} {% endblock title %}

{% block style %}
<style type="text/css">
  section {
    margin-top: 2em;
    background-color: #306ba7;
  }

  li {
    color: #6db4d2;
  }

  h6 {
    font-family: 'Open Sans', sans-serif;
    user-select: none;
    color: white;
  }

  h2 {
    font-family: 'Open Sans', sans-serif;
    color: #bec5ca;
  }

  h3{
    font-family: 'Open Sans', sans-serif;
  }

  ul {
    list-style: none;
  }

  img {
    max-height: 450px;
    max-width: 1000px;
  }

  form {
    display: inline;
  }

  .alert {
    margin-right: 2em;
  }

  .row {
    margin: 0;
  }

  #img-section {
    background-color: #1b4065;
  }

  #precio {
    font-size: 1.5em;
  }
</style>
{% endblock style %}

{% block content %}

  <section class="container p-0 bg-light rounded text-dark shadow">
    <div class="row justify-content-center bg-dark">
      <h2 class="my-2"> {{ residencia.nombre }} </h2>
    </div>
    <div class="row justify-content-center rounded-bottom border-bottom border-dark" id="img-section">
      <img class="img-fluid" src="{{ residencia.foto }}">
    </div>
    <div class="row my-2">
      <div class="col">
        <h3>Descripción:</h3>
        <p class="mx-5 text-break"> {{ residencia.descripcion }} </p>
      </div>
      <div class="col-3 border-left">
        <h3>Precio Base:</h3>
        <span id="precio" class="text-success ml-3">
          $ {{ residencia.precio_base }}
        </span>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-12">
        <h3 class="text-center bg-dark m-0" style="color: white;">Ubicación</h3>
      </div>
      <div class="col-sm-12 m-0">
        <ul class="text-center bg-secundario w-100 d-inline-flex justify-content-between">
          <li class="mx-1">
            <h6>Pais:</h6>
            {{ residencia.ubicacion.pais }}
          </li>
          <li class="mx-1">
            <h6>Provincia:</h6> 
            {{ residencia.ubicacion.provincia }} 
          </li>
          <li class="mx-1">
            <h6>Ciudad:</h6> 
            {{ residencia.ubicacion.ciudad }} 
          </li>
          <li class="mx-1">
            <h6>Calle y número:</h6> 
            {{ residencia.ubicacion.calle }} - {{ residencia.ubicacion.numero }} </li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row pb-3">
      <div class="col">
        <p class="text-muted">La residencia se encuentra en estado {{ residencia.estado|lower }}
        </p>
        <form action="{% url 'detalle_residencia' residencia.pk %}" method="post">
          {% csrf_token %}
        {% if residencia.estado.es_subasta %}
            <input type="submit" type="button" name="cerrar_subasta" value="Cerrar Subasta" class="btn btn-danger"/>
            <!-- Provisorio hasta encontrar una mejor manera -->
            <a class="btn btn-info" href="{% url 'mostrar_subasta' residencia.estado_id %}">Ir a la subasta</a>
        {% elif residencia.estado.es_compra_directa %}
            <input type="submit" name="abrir_subasta" type="button" value="Abrir Subasta" class="btn btn-success"/>
            <a class="btn btn-info" href="{% url 'modificarResidencia' residencia.pk %}">Modificar</a>
            <input type="submit" type="button" class="btn btn-danger" name="eliminar" value="Eliminar"></input>
        {% elif residencia.estado.es_no_disponible %}
            <!-- Nada por ahora -->
        {% endif %}
        </form>     
      </div>
      <!-- Mensajes -->
        {% for message in messages %}
          {% if message.tags == "error" %}
            <div class="alert alert-danger alert-dismissible fade show">
          {% else %}
            <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %} alert-dismissible fade show">
          {% endif %}
              <strong>{{ message }}</strong>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
        {% endfor %}
    </div>
  </section>

{% endblock content %}