{% extends "base.html" %}


{% block title_content %}

{% endblock title_content %}

{% block body_content %}
  <form method="post" class="form-inlin justify-content-center">
    {% csrf_token %}

    <!-- Mensajes -->
      {% for message in messages %}
        {% if message.tags == "error" %}
          <div class="alert alert-danger alert-dismissible fade show">
        {% else %}
          <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %} alert-dismissible fade show">
        {% endif %}
            <strong>{{ message }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
      {% endfor %}

    <!-- Residencias -->
    {% for field in form %}
      <div class="form-group">
        <p class="m-0 bg-dark rounded-top">{{field.label}}</p>
        {% if field.name == "precio_base" %}
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            {{field}}
          </div>
        {% else %}
          <div>
            {{field}}
          </div>
        {% endif %}
      </div>
    {% endfor %}

    <!-- Ubicación -->
    <p class="h3 m-0 bg-dark rounded-top">Ubicación</p>
    <div class="bg-dark py-2 px-2 mb-2">
      {% for field in ubicacion %}
        <div class="form-group">
          <p class="m-0 bg-primary rounded-top">{{field.label}}</p>
          <div>
            {{field}}
          </div>
        </div>
      {% endfor %}                
    </div>

    <!-- Botones -->
    <div>
      <button type="submit" class="btn btn-success">Guardar</button>
      <a href="{% url 'home' %}"><button type="button" class="btn btn-danger">Cancelar</button></a>
    </div>                
  </form>
          
{% endblock body_content %}
