{% extends "base.html" %}

{% block title %}Home Page{% endblock title %}

  <style type="text/css">
  	#pagination :hover {background-color: #337ab7;
  						transition: background-color 0.5s;
  						color: white;}
  </style>
{% block title_content %}
  <h2 class="text-center">Residencias</h2>
{% endblock title_content %}
{% block body_content %}
    <div class= "col-md-12 bg-dark pb-2 my-2 rounded">
      <h3 class="text-warning pt-2">¡Buscá tu residencia ideal!</h3>
      <hr class="bg-secondary">
      <form method="post">
        {% csrf_token %}
        <div>
          <div class="form-row">
            {% for field in form.visible_fields|slice:":3" %}
            <div class="form-group col-md-4 pt-1">
              <label class="bg-secondary w-100 m-0 rounded-top">{{field.label}}</label>
              {{field}}
            </div>
          {% endfor %}
          </div>
          <div class="form-row">
            {% for field in form.visible_fields|slice:"3:" %}
            <div class="form-group col-md-6 pt-1 text-left">
              <label class="bg-secondary w-100 m-0 rounded-top text-center">{{field.label}}</label>
              {{field}}
              <small class="text-warning">{% if field.help_text %}* {{field.help_text}} {% endif %}</small>
            </div>
            {% endfor %}
          </div>
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger alert-dismissible fade show">
          <strong>{{ error|escape }}</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
        </div>
        <hr class="bg-secondary mb-2 mt-0">
        <div>
          <input class="btn btn-warning w-25 m-0" type="submit" value="Buscar!">
        </div>
      </form>
    </div>
    {% if not object_list %}
      <div>
        <hr>
        <strong class="text-warning">No se han encontrado residencias</strong>
        <hr>
      </div>
    {% endif %}
		{% for i in object_list %}
			<!-- Lista Residencias -->
          <div class="container">
            <div class="row text-center text-lg-left">
              <div class="col-md-12">
                <div class="list-group my-1">
                  <a href="{% url 'detalle_residencia' i.pk %}" class="list-group-item list-group-item-action flex-column align-items-start">
                    <img class="d-block float-right img-thumbnail img-fluid" src={{i.foto}} width="250" height="250" >
                    <div class="w-100">
                      <h4 class="mb-0 text-secondary">${{i.precio_base}}</h4>
                      <hr>
                      <h5 class="mb-0 text-dark">{{i.nombre}}</h5>
                      <h6 class="mb-0 ">{{i.ubicacion.ciudad}}, {{i.ubicacion.provincia}}, {{i.ubicacion.pais}}.</h6>
                      <h6 class="mb-0"><small class="text-muted">Desde el {{i.fecha_publicacion}}</small></h6>
                      <div>
                        <span class="badge badge-success">{{i.estado}}</span>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
		{% endfor %}
{% endblock body_content %}
{% block footer_content %}
	<nav aria-label="Page navigation example" class="bg-dark rounded-bottom" >
  	<ul class="pagination justify-content-center m-0 py-1" id="pagination">
  		<li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
      	 <a class="page-link" href="{% if page_obj.has_previous %} /listadoResidencias?page={{ page_obj.previous_page_number }} {% endif %}">&laquo</a>
    	</li>
      {% if page_obj.has_previous %}
    	<li class="page-item">
        <a class="page-link" href="/listadoResidencias?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
      </li>
      {% endif %}
      <li class="page-item active">
        <a class="page-link" href="{{ page_obj_current }}">{{ page_obj.number }}</a>
      </li>
    	{% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="/listadoResidencias?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
      </li>
      {% endif %}
    	<li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">
      	<a class="page-link" href="{% if page_obj.has_next %} /listadoResidencias?page={{ page_obj.next_page_number }} {% endif %}">&raquo</a>
    	</li>
  	</ul>
	</nav>
{% endblock footer_content %}
{% block script %}
<script type="text/javascript">
  $(document).ready(function(){
    $("input").addClass("form-control");
  });
</script>        
{% endblock script %}
